In [1]:
%load_ext sql

In [2]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd

Connect to Amazon Redshift

In [4]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT = config.get('CLUSTER', 'HOST')

import os 
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)

%sql $conn_string

'Connected: dwhuser@dwh'

In [5]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cerbcv7ejbyr.eu-central-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(4, datetime.datetime(2018, 11, 23, 17, 29, 9, 796000), 58, 'paid', 'SOOWUWR12A8C13A62C', 'ARI7RGN1187FB40849', 852, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (11, datetime.datetime(2018, 11, 15, 21, 25, 45, 796000), 49, 'paid', 'SOKHAAU12A6D4F71EF', 'ARDD09D1187B99AD60', 630, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (18, datetime.datetime(2018, 11, 4, 7, 31, 31, 796000), 25, 'paid', 'SOHWVJJ12AB0185F6D', 'ARASYMJ1187B9ACAF2', 128, 'Marinette, WI-MI', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (25, datetime.datetime(2018, 11, 22, 13, 21, 21, 796000), 63, 'free', 'SOLWQQJ12A8C13A2BD', 'ARDOL0J1187B9AC52A', 785, 'Santa Rosa, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"'),
 (32, datetime.datetime(2018, 11, 7, 1, 42, 43, 796000), 8, 'free', 'SOWTZNU12AB017EADB', 'AR6NYHH1187B9BA128', 181, 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"')]

In [6]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cerbcv7ejbyr.eu-central-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(49, 'Chloe', 'Cuevas', 'F', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free'),
 (55, 'Martin', 'Johnson', 'M', 'free'),
 (50, 'Ava', 'Robinson', 'F', 'free'),
 (61, 'Samuel', 'Gonzalez', 'M', 'free')]

In [7]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cerbcv7ejbyr.eu-central-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 0, Decimal('153')),
 ('SOAACFC12A8C140567', 'Supernatural Pt. II', 'ARNHTE41187B99289A', 0, Decimal('343')),
 ('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 2008, Decimal('181')),
 ('SOAADAD12A8C13D5B0', 'One Shot (Album Version)', 'ARQTC851187B9B03AF', 2005, Decimal('264')),
 ('SOAADJH12AB018BD30', 'Black Light (Album Version)', 'AR3FKJ61187B990357', 1975, Decimal('386'))]

In [8]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cerbcv7ejbyr.eu-central-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR820DX11C8A4157C3', 'Sir Thomas Beecham/Royal Philharmonic Orchestra', '', None, None),
 ('ARHK5UX1187B9AE913', 'Baby Teeth', 'Chicago, IL', 41.88415, -87.63241),
 ('ARA2J4X1187B9B7FEF', 'Stephen Stills', 'Dallas, TX', 32.77815, -96.7954),
 ('ARWDDHA1187FB3A745', 'EDGUY', 'Fulda, Germany', 50.55356, 9.67469),
 ('AR459OK1187B9B94EB', 'Marc Ribot', 'Newark, NJ', None, None)]

In [9]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cerbcv7ejbyr.eu-central-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 24, 53, 796000), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 1, 21, 55, 25, 796000), 21, 1, 44, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 2, 9, 4, 16, 796000), 9, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 9, 35, 25, 796000), 9, 2, 44, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 2, 9, 42, 23, 796000), 9, 2, 44, 11, 2018, '5')]

## Further example queries and results for song play analysis.

check which weekday there are most of the events, sorted by descending order

In [10]:
%sql SELECT weekday, count(weekday) FROM time GROUP BY weekday ORDER BY count(*) DESC;

 * postgresql://dwhuser:***@dwhcluster.cerbcv7ejbyr.eu-central-1.redshift.amazonaws.com:5439/dwh
7 rows affected.

[('3', 1601),
 ('5', 1514),
 ('2', 1256),
 ('4', 1231),
 ('1', 1214),
 ('6', 710),
 ('0', 497)]

check which artist has the most number of songs in the database, sorted by descending order

In [11]:
%sql SELECT artists.name, count(artists.name) FROM (songs JOIN artists on songs.artist_id = artists.artist_id) GROUP BY artists.name ORDER BY count(*) DESC LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cerbcv7ejbyr.eu-central-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Nick Cave & The Bad Seeds', 16),
 ('Alison Krauss / Union Station', 13),
 ('Butthole Surfers', 10),
 ('The Bats', 10),
 ('Aphex Twin', 9)]

check which user plays the most times of songs, sorted by descending order

In [12]:
%sql SELECT users.user_id, count(songplay_id) FROM (songplays JOIN users on songplays.user_id = users.user_id) GROUP BY users.user_id ORDER BY count(*) DESC LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cerbcv7ejbyr.eu-central-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(49, 42), (97, 32), (80, 31), (44, 21), (73, 18)]

## REMEMBER: Restart this notebook to close connection